@import './base/mixins';
@import './base/normalize';
@import './base/fonts';

/* Variables
========================================================================== */

// Wrapper
$container: 1200px;

// Breakpoints
$mobile: 500px;
$tablet: 768px;
$small-desktop: 960px;
$mobile-landscape: 400px;
$large-desktop: 1500px;

// Colors
$light-gray: #E8E8E8;
$dark-gray: #6C6C6C;
$darkest-gray: #383B40;
$light-blue: #3CA6B7;
$dark-blue: #272641;
$lime-green: #DDE62C;
$red: #DD3A3A;
$dark-purple: #414058;
$overlay-opacity: rgba(0,0,0,0.5);
$link-light: #79e7ff;


/* Structure
========================================================================== */
body {
	* {
		box-sizing: border-box;
	}
}

.container {
	max-width: $container;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	display: block;
	position: relative;
}

.two-col {
	overflow: auto;
	> * {
		display: inline-block;
		width: 50%;
		float: left;
	}
}

#main {
	margin-bottom: 50px;
}

/* Global
========================================================================== */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	max-height: 100%;
}

.btn {
	-webkit-appearance: none;
	border: none;
	background: none;
	background-color: $dark-blue;
	padding: 7px 60px;
	cursor: pointer;
	display: inline-block;
	color: white;
	@include transition(background-color 0.15s linear);
	&:hover {
		background-color: $light-blue;
	}
}

input {
	border: none;
	&:focus {
		outline: none;
	}
}

select {
	text-transform: none;
	-webkit-appearance: none;
	border: none;
	background: none;
}

.tag {
	position: absolute;
	top: 0;
	height: 40px;
	width: 28px;
	overflow: hidden;
	z-index: 2;
	@include transition(width .1s ease-in-out);
	&:after {
		content: "";
    font-size: 12px;
    display: inline-block;
    margin-top: 14px;
    margin-right: 4px;
    font-family: AkkuratRegular;
		width: 53px;
		opacity: 0;
		@include transition(width .1s ease-in-out);
	}
	span:before {
		color: white !important;
	}
	&:hover {
		width: 80px;
		text-align: right;
		&:before {
			top: 21px;
			left: 20px;
		}
		&:after {
			opacity: 1;
		}
	}
}

.tag--right {
	@extend .tag;
	right: 5px;
	background: $red;
	&:after {
		content: "favorite";
		margin-top: 12px;
		color: white !important;
	}
}

.tag--right--green {
	@extend .tag--right;
	background: $lime-green;
	&:after {
		content: "buy issue";
		color: #272641 !important;;
		margin-top: 15px;
	}
	span:before {
		color: #272641 !important;;
	}
}

.tag--left {
	@extend .tag;
	left: 5px;
	background: $light-blue;
	&:hover {
		width: 90px;
		text-align: left;
	}
	&:after {
		content: "bookmark";
		margin-left: 30px;
	}
}



/* Typography
========================================================================== */

@import './base/typography';


/* Header
========================================================================== */

@import './components/header';


/* Global Components
========================================================================== */

.title {
	margin: 0;
	padding-top: 45px;
	padding-bottom: 20px;
}

form {
	input {
		margin: 10px 0;
	}
	label {
		min-width: 110px;
		display: inline-block;
	}
	.btn {
		margin-top: 15px;
		width: 100%;
	}
}


/* Basic Comic
========================================================================== */

@import './components/comics.scss';


/* Login Box
========================================================================== */

@import './page/login.scss';


/* Released Issues
========================================================================== */

#released-issues {
	.comic-wrapper {
		background: $light-gray;
		color: black;
	}

	.comic {
		max-width: 850px;
	}

	.comic-tile .icon-cash:before {
		color: $dark-blue !important;
		position: absolute;
		top: 12px;
		font-size: 20px;
		left: 4px;
	}

	@include break($tablet) {
		.comic__cover img {
			max-height: 350px;
			width: auto;
		}
	}
}


/* My Series
========================================================================== */

@import './page/my-series';


/* Currently Reading
========================================================================== */

@import './page/currently-reading';


/* Modal
========================================================================== */

@import './components/modal';


/* Issue Reader
========================================================================== */

@import './page/issue-reader';
