<div id="my-series">
	<div class="container">
		<h1 class="title">{{ message }}</h1>
		<div class="upload-wrapper">
			<a class="btn upload" ng-click="show()">Upload</a>
			<p>Have any digital comic issues?<br/>
				Upload them here and read your collection online!</p>
		</div>
		<div class="sort-wrapper">
			<div class="container">
				<h2 class="line-divider">Sort By</h2>
				<div class="sort-by">
					<div class="select">
						<p class="icon-arrow-right" ng-click="showReleaseDrop()" ng-class="{active: releaseDropOpen}">Release Date</p>
						<div class="dropdown" ng-class="{active: releaseDropOpen}">
							<p ng-class="{active: ordering == 'dateReleased'}" ng-click="ordering = 'dateReleased'">Newest</p>
							<p ng-class="{active: ordering == '-dateReleased'}" ng-click="ordering = '-dateReleased'">Oldest</p>
						</div>
					</div>
					<div class="select">
						<p class="icon-arrow-right" ng-click="showAlphaDrop()" ng-class="{active: releaseDropOpen}">Alphabetical</p>
						<div class="dropdown" ng-class="{active: alphaDropOpen}">
							<p ng-class="{active: ordering == 'seriesTitle'}" ng-click="ordering = 'seriesTitle'">A - Z</p>
							<p ng-class="{active: ordering == '-seriesTitle'}" ng-click="ordering = '-seriesTitle'">Z - A</p>
						</div>
					</div>
					<p class="filter--favorites" ng-class="{active: filterFavorites == 1}" ng-click="filterByFavorites()">Favorites</p>
				</div>
			</div>
		</div>
	</div>
	<div class="comic-grid-wrapper">
		<div class="comic-grid">
			<!-- Comic Tile -->
			<div class="comic-tile" adaptive-background ng-repeat="series in mySeries | orderBy: ordering | filter:searchTitle | filter: {favorite : filterFavorites}">
				<div ng-class="{filled: {{ series.favorite }} == 1}" class="tag--right">
					<span ng-click="setFavorite( $event )" class="icon-heart-outline"></span>
					<span ng-click="removeFromFavorites( $event )" class="icon-heart-filled"></span>
				</div>
				<div ng-class="{filled:  {{ series.currentlyReading }} == 1}" class="tag--left">
					<span ng-click="setCurrentlyReading( $event )" class="icon-book-outline"></span>
					<span ng-click="removeCurrentlyReading( $event )" class="icon-book-filled"></span>
				</div>
				<div class="comic-tile--content" ng-click="showDetails( $event )">
					<img class="data__cover" ng-src="{{ series.cover }}" alt="{{ series.seriesTitle }} cover"/>
					<p class="data__title">{{ series.seriesTitle }}</p>
					<div class="hidden-data">
						<p class="data__author">{{ series.author }}</p>
						<p class="data__desc">{{ series.desc }}</p>
						<p class="data__comicId">{{ series.comicId }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
