<div id="my-series">
  <nav>
      <ul class="container">
          <li class="selected"><a href="#my-series">My Series</a></li>
          <li><a href="#released-issues">Released Issues</a></li>
          <li><a href="#my-favorites">My Favorites</a></li>
      </ul>
  </nav>
  <div class="container filtering">
    <h1>{{ message }}</h1>
    <form>
      <input type="text" id="filter"/>
      <label for="filter">Filter</label>
    </form>
    <a class="btn upload">Upload</a>
  </div>
  <div class="container comic-grid">
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
    <div class="comic-box"></div>
  </div>
</div>
