
/* Typography
========================================================================== */

body {
	font-family: AkkuratLightRegular;
}

h1 {
	font-family: AkkuratRegular;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: 25px;
	@include break($tablet) {
		font-size: 20px;
	}
}

h2 {
	font-family: AkkuratRegular;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

p {
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

.link, .link-dark {
	position: relative;
	color: $link-light;
	cursor: pointer;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		width: 0;
		margin-top: 2px;
		height: 2px;
		display: block;
		background: $lime-green;
		@include bouncetransition;
	}
	&:hover:after{
		width: 100%;
	}
}

.link-dark {
	color: $dark-purple;
}

.label {
	font-family: AkkuratBold;
	display: block;
}

.ab-light-background {
	color: #333;
	a.link {
		@extend .link-dark;
	}
}

.ab-dark-background {
	color: #fff;
	a:not(.link),
	[class^="icon-"]:before,
	[class*=" icon-"]:before {
		color: #fff;
	}
}

.line-divider:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 7px;
	background-color: $light-gray;
}
