<div id="issue-reader">
  <div class="container">
    <div class="reader">
      <div class="controls--top">
        <a class="icon-arrow-left" ng-click="prevImage()"></a>
        <a class="icon-arrow-right" ng-click="nextImage()"></a>
        <h2 class="line-divider">Batman - End Game / 1</h2>
        <div class="controls__page">
          <select>
            <option value="">Issue: #</option>
          </select>
          <select>
            <option value="">Page: #</option>
          </select>
        </div>
      </div>
      <img ng-click="nextImage()" src="{{ imageUrl }}" alt="batman endgame cover"/>
      <div class="controls--bottom">
        <a class="icon-arrow-left" ng-click="prevImage()"></a>
        <a class="icon-arrow-right" ng-click="nextImage()"></a>
        <div class="controls__page">
          <select>
            <option value="">Issue: #</option>
          </select>
          <select>
            <option value="">Page: #</option>
          </select>
          <a class="btn icon-check">Mark As Read</a>
        </div>
      </div>
    </div>
  </div>
</div>
