/* Header
========================================================================== */

header {
	background-color: $dark-blue;
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid $light-blue;
	a {
		color: white;
	}
	div {
		display: inline-block;
		vertical-align: middle;
	}
}

.logo-wrapper {
	margin-left: -35px;
	img {
		height: 100px;
		width: 145px;
		display: block;
	}
}

.login-state {
	right: 20px;
	top: 38px;
	position: absolute;
	a, p {
		letter-spacing: 1px;
		font-size: 14px;
		color: white;
	}
	.logged-in {
		display: none;
		.username {
			position: relative;
			vertical-align: middle;
			display: inline-block;
			padding: 0 20px;
			color: white;
		}
		.username:before {
			position: absolute;
			left: 0px;
			top: 3px;
		}
		.username:after {
			position: absolute;
			right: -3px;
			top: 4px;
			cursor: pointer;
		}
	}
	@include break($tablet) {
		top: 10px;
	}
	@include break($mobile) {
		top: 25px;
	}
}

body.logged-in {
	.login-state .logged-in {
		display: inline-block;
	}
	.login-state .not-logged-in {
		display: none;
	}
}

/* Navigation
========================================================================== */

nav {
	display: inline-block;
	margin-right: 10px;
	min-width: 450px;
	ul {
		padding: 0;
		li {
			display: inline-block;
			padding: 5px 35px 5px 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			&:last-of-type {
				padding-right: 10px;
			}
			&.active {
				a:after {
					width: 100%;
				}
			}
			a.link {
				color: white;
			}
			.user-access {
				display: none;
			}
		}
	}
	@include break($tablet) {
		text-align: right;
		display: block;
		margin-right: 0;
		min-width: 0;
		ul li {
			padding-right: 4%;
		}
	}
	@include break($mobile) {
		text-align: center;
		margin-top: 55px;
		min-width: 0;
		ul li {
			padding: 0;
			margin: 0px 0 15px 15px;
			a {
				padding: 5px 8%;
				background: $light-blue;
				border-radius: 15px;
				white-space: nowrap;
				font-size: 13px;
			}
		}
		ul {
			li {
				a:after {
					display: none !important;
				}
				&.active {
					a {
						background: $lime-green;
						color: $dark-blue;
					}
				}
			}
		}
	}
}

body.logged-in nav ul li .user-access {
	display: inline-block;
}

/* Filtering
========================================================================== */

.filter-container {
	position: absolute;
	right: 150px;
	top: 38px;

	input#filter {
		padding: 4px 10px 4px 30px;
		border-radius: 20px;
		background: $dark-purple;
		&:focus {
			background: white;
		}
	}
	&.icon-search:before {
		position: absolute;
		top: 8px;
    left: 11px;
    font-size: 13px;
		color: gray;
	}
	@include break( $small-desktop ) {
		position: relative;
		display: block;
		margin: -20px 0 20px;
		right:auto;
		top: auto;
		margin-left: 120px;
		input {
			width: 100%;
		}
	}
	@include break( $tablet ) {
		margin: -84px 0 65px 120px;
	}
	@include break( $mobile ) {
		margin: -85px 0 70px 0;
	}
}

// Account for logged in nav on mobile

body.logged-in .filter-container {
	@include break( $mobile ) {
		margin: -130px 0 110px 0;
	}
}
