<div id="currently-reading">
  <div class="container">
    <h1 class="title">{{ message }}</h1>
    <div class="add-to-list-wrapper">
      <h2>Add to List</h2>
      <div class="add-to-list">
        <input type="text" placeholder="+  Enter Title Here"/>
      </div>
    </div>
  </div>
  <div class="comic-list">
    <div class="comic-box" adaptive-background>
      <div class="comic-content">
        <img src="images/batman-cover.jpg" alt="batman endgame cover"/>
        <div class="description">
          <p>Title: Batman - End Game</p>
          <p>Author: Scott Snyder</p>
          <p>Read Issue / All Released: <a class="link" href="#/issue-reader">Issue #10</a> / <a class="link" href="#/issue-reader">Issue #15</a></p>
          <p>Description: "Endgame" is a six-issue comic book story arc first published by DC Comics in 2014, featuring the fictional superhero Batman. Set after the events of Batman Eternal, the story involves the return of Batman's arch-enemy, the Joker, following his disappearance in the 2012 story arc "Death of the Family", and concludes with the apparent deaths of both Batman and the Joker.</p>
        </div>
      </div>
    </div>
    <div class="comic-box" adaptive-background>
      <div class="comic-content">
        <img src="images/batman-cover.jpg" alt="batman endgame cover"/>
        <div class="description">
          <p>Title: Batman - End Game</p>
          <p>Author: Scott Snyder</p>
          <p>Read Issue / All Released: <a class="link" href="#/issue-reader">Issue #10</a> / <a class="link" href="#/issue-reader">Issue #15</a></p>
          <p>Description: "Endgame" is a six-issue comic book story arc first published by DC Comics in 2014, featuring the fictional superhero Batman. Set after the events of Batman Eternal, the story involves the return of Batman's arch-enemy, the Joker, following his disappearance in the 2012 story arc "Death of the Family", and concludes with the apparent deaths of both Batman and the Joker.</p>
        </div>
      </div>
    </div>
    <div class="comic-box" adaptive-background>
      <div class="comic-content">
        <img src="images/batman-cover.jpg" alt="batman endgame cover"/>
        <div class="description">
          <p>Title: Batman - End Game</p>
          <p>Author: Scott Snyder</p>
          <p>Read Issue / All Released: <a class="link" href="#/issue-reader">Issue #10</a> / <a class="link" href="#/issue-reader">Issue #15</a></p>
          <p>Description: "Endgame" is a six-issue comic book story arc first published by DC Comics in 2014, featuring the fictional superhero Batman. Set after the events of Batman Eternal, the story involves the return of Batman's arch-enemy, the Joker, following his disappearance in the 2012 story arc "Death of the Family", and concludes with the apparent deaths of both Batman and the Joker.</p>
        </div>
      </div>
    </div>
    <div class="comic-box" adaptive-background>
      <div class="comic-content">
        <img src="images/batman-cover.jpg" alt="batman endgame cover"/>
        <div class="description">
          <p>Title: Batman - End Game</p>
          <p>Author: Scott Snyder</p>
          <p>Read Issue / All Released: <a class="link" href="#/issue-reader">Issue #10</a> / <a class="link" href="#/issue-reader">Issue #15</a></p>
          <p>Description: "Endgame" is a six-issue comic book story arc first published by DC Comics in 2014, featuring the fictional superhero Batman. Set after the events of Batman Eternal, the story involves the return of Batman's arch-enemy, the Joker, following his disappearance in the 2012 story arc "Death of the Family", and concludes with the apparent deaths of both Batman and the Joker.</p>
        </div>
      </div>
    </div>
  </div>
</div>
