<div id="released-issues">

	<div class="container">
		<h1 class="title">{{ message }}</h1>
	</div>

	<!-- Featured Comic -->
	<div class="comic-wrapper">
		<div class="comic">
			<div class="comic__cover">
				<img ng-src="{{ featuredIssue.cover }}" alt="{{ featuredIssue.seriesTitle }} cover"/>
			</div>
			<div class="comic__details">
				<h2>Latest Released</h2>
				<div class="comic__title">
					<p><span class="label">Title</span>{{ featuredIssue.seriesTitle }} #{{ featuredIssue.issueNumber }}</p>
				</div>
				<div class="comic__author">
					<p><span class="label">Author</span>{{ featuredIssue.author }}</p>
				</div>
				<div class="comic__description">
					<p><span class="label">Description</span>{{ featuredIssue.desc }}</p>
				</div>
				<div class="comic__price">
					 <p><span class="label">Online Price</span>$4.99</p>
					 <button class="btn" ng-click="inputCreditCard()">Buy Now</button>
				</div>
			</div>
		</div>
	</div>

	<div class="comic-grid-wrapper">
		<!-- Comic Grid -->
		<div class="comic-grid">
			<!-- Comic Tile -->
			<div class="comic-tile" ng-repeat="issue in recentlyReleased" ng-click="showPurchaseDetails( $event )" adaptive-background>
				<div class="tag--right--green">
					<span ng-click="showPurchaseDetails()" class="icon-cash"></span>
				</div>
				<div class="comic-tile--content">
					<img class="data__cover" ng-src="{{ issue.cover }}" alt="{{ issue.seriesTitle }} cover"/>
					<p class="data__title">{{ issue.seriesTitle }}<br /> Issue # {{ issue.issueNumber }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
