<div class="modal modal--confirm">
   <div class="modal-content">
     <div class="modal-header">
       <a class="icon-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true"></a>
       <h2 class="line-divider">Confirm Action</h2>
     </div>
     <div class="modal-body">
        <p>Successfully bought "Batman - End Game #1" and uploaded to your series</p>
     </div>
     <div class="modal-footer">
       <button class="btn" ng-click="close()" data-dismiss="modal">Confirm</button>
     </div>
   </div>
 </div>
