<div class="modal card--details">
   <div class="modal-content">
     <div class="modal-header">
       <a class="icon-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true"></a>
       <h2 class="line-divider">Input Card Information</h2>
     </div>
     <div class="modal-body">
        <form class="two-col">
           <div>
             <label for="cardName" class="label">Name</label>
             <input type="text" id="cardName" name="cardName" placeholder="John Doe"/>
          </div>
          <div>
             <label for="cardNumber" class="label">Card Number:</label>
             <input type="text" id="cardNumber" name="cardNumber" placeholder="1234123412341234"/>
          </div>
          <div>
             <label for="cardExp" class="label">Expiration Date:</label>
             <input type="text" id="cardExp" name="cardExp" placeholder="11/16" size="5"/>
          </div>
          <div>
             <label for="cardCVV" class="label">CVV:</label>
             <input type="text" id="cardCVV" name="cardCVV" placeholder="123" size="3"/>
          </div>
        </form>
     </div>
     <div class="modal-footer">
       <button class="btn" ng-click="confirmPurchase()" data-dismiss="modal">Purchase</button>
     </div>
   </div>
 </div>
