
/* Basic Comic
========================================================================== */
.comic-grid-wrapper {
	background-color: $darkest-gray;
	overflow: auto;
	width: 100%;
}
.comic-list {
	display: flex;
	flex-flow: row wrap;
}
.comic-grid {
	padding: 0;
	overflow: auto;
	display: flex;
	flex-flow: row wrap;

	.comic-tile {
		position: relative;
		width: 20%;
		padding: 15px 0;

		@include break( $small-desktop ) {
			width: 25%;
		}
		@include break( $tablet ) {
			width: 33.33%;
		}
		@include break( $mobile ) {
			width: 50%;
		}
		&:hover {
			background: grayscale( #4679BD );
			cursor: pointer;
		}
	}

	.comic-tile--content{
		text-align: center;
		img {
			width: 85%;
			margin: 20px auto;
		}
		&:hover {
			img {
				-webkit-filter: grayscale(100%);
		    opacity: 0.5;
		    filter: alpha(opacity=40);
		    filter: grayscale(100%);
			}
			&:after {
				display: block;
		    content: "Get Details";
		    position: absolute;
		    width: 85%;
		    text-transform: uppercase;
		    font-family: AkkuratBold;
		    font-size: 20px;
		    color: white;
				left: 20px;
		    top: 35px;
		    padding: 60% 0;
		    letter-spacing: 2px;
		    pointer-events: none;
			}
		}
		p {
			margin-top: 0;
			font-size: 14px;
			font-family: AkkuratRegular;
		}
		.hidden-data {
			display: none;
		}
	}

}

.comic {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
	.comic__cover, .comic__details {
		display: inline-block;
		vertical-align: middle;
	}
	.comic__cover {
		width: 33%;
		padding-right: 20px;
	}
	.comic__details {
		width: 66%;
	}
	.comic__title, .comic__author {
		display: inline-block;
		width: 50%;
		float: left;
	}
	.comic__description {
		clear: both;
		padding-top: 5px;
	}
	.comic__price {
		margin-top: 10px;
		.btn {
			margin-top: 20px;
		}
	}
	.comic__title, .comic__author, .comic__issue, .comic__series-title {
		margin-bottom: 10px;
	}
}

@include break($tablet) {
	.comic {
		.comic__cover,
		.comic__details {
			width: 100%;
		}
		.comic__cover {
			text-align: center;
		}
	}
}
